
/web/node_modules/
/web/dist/
/web/.env*
/web/.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/backend/vendor/           
/backend/.env*               

/backend/public/uploads/*
!/backend/public/uploads/.gitkeep

.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
